html {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'Poppins';
	height: 90vh;
	width: 100vw;
	color: #ffffff;
	background-color: #292c32;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #33363c;
	box-shadow: 10px 10px 25px #00000030;
	height: 65%;
	width: 90%;
	border-radius: 6%;
}

.name {
	font-weight: bold;
	font-size: 5em;
	color: #abd039;
	margin: 0;
}

.profpic {
	box-shadow: 10px 10px 10px #00000030;
	width: 50%;
	border-radius: 50%;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.qr {
	box-shadow: 10px 10px 10px #00000030;
	border-radius: 6%;
	width: 60%;
}

.card {
	background-color: green;
}

.title {
	font-size: 3em;
	margin: 0;
}

.details {
	margin: 5%;
	font-size: 2.5em;
	color: #ffffff;
	text-decoration: none;
}
