html, body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-color: #292c32;
	font-family: "Poppins";
	color: #ffffff;
}

.flex-container {
	display: flex;
	justify-content: center;
	width: 90%;
}

.card {
	background-color: #33363c;
	box-shadow: 10px 10px 25px #00000030;
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1em;
	gap: 32px;
}

.profile-photo {
	border-radius: 50%;
	box-shadow: 10px 10px 25px #00000030;
	width: 40%;
	margin: -20%;
}

.profile {
	margin-top: 20%;
	text-align: center;
}

.profile h1, h2 {
	margin: 0;
}

h1 {
	color: #abd039;
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

.details {
	list-style-type: none;
	padding-left: 0;
	font-size: 3em;
}

.qr {
	width: 40%;
	border-radius: 8%;
	box-shadow: 10px 10px 25px #00000030;
	margin-bottom: -20%;
}
