html, body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	height: var(--doc-height);
	width: 100vw;
	background-color: #292c32;
	font-family: "Poppins";
	color: #ffffff;
}

.directory {
	display: flex;
	flex-wrap: wrap;
}

ul {
	padding: 0;
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 16px;
}

.contact a {
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact img {
	display: flex;
	align-items: center;
	border-radius: 50%;
	width: 128px;
	height: 128px;
}

h1 {
	color: #abd039;
	font-size: 3em;
	font-weight: 700;
}

h2 {
	font-size: 2em;
}

