:root {
	--doc-height: 100%;
}

html,
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh; /* fallback for Js load */
	height: var(--doc-height);
	width: 100vw;
	background-color: #292c32;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #ffffff;
}


.flex-container {
	display: flex;
	justify-content: center;
	width: 90%;
}

.card {
	background-color: #33363c;
	box-shadow: 10px 10px 25px #00000030;
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1em;
	gap: 32px;
	max-width: 350px;
}

.profile-photo {
	border-radius: 50%;
	box-shadow: 10px 10px 25px #00000030;
	width: 40%;
	margin: -20%;
	background-color: #ffffff;
}

.profile {
	margin-top: 20%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.profile h1, h2 {
	margin: 0;
	font-weight: 700;
}

.content {
	display: flex;
	width: 100%;
}

.logo {
	height: 8%;
}

h1 {
	color: #abd039;
	font-size: 2.4em;
}

h2 {
	font-size: 1.5em;
}

.details {
	list-style-type: none;
	padding-left: 0;
	font-size: 1em;
	margin-top: 0;
}

.qr {
	width: 40%;
	border-radius: 8%;
	box-shadow: 10px 10px 25px #00000030;
	margin-bottom: -20%;
}
